%h3
  = @doctor.name
- if @bookings.present?
  %table
    %tr
      %th No
      %th Patient Name
      %th Hospital Name
      %th Booking Time
    - @bookings.each_with_index do |booking, idx|
      %tr
        %td
          = idx + 1
        %td
          = booking.user.email
        %td
          = booking.doctor.hospital.name
        %td
          = booking.booking_time
- else
  No Booking for this doctor yet