
%table
  %tr
    %th
      = "#{@booking.doctor.name} Schedule Time"
  - @booking.doctor.schedules.each do |schedule|
    %tr
      %td
        = "#{schedule.day} From #{schedule.start_time} to #{schedule.end_time} "

%br
%br
%br

= form_for @booking, url: booking_create_path do |f|
  = f.label 'Doctor Name'
  = @booking.doctor.name
  = f.hidden_field :doctor_id
  %br
  %br
  = f.label 'Booking Time'
  = f.datetime_select :booking_time, start_year: Time.now.year
  %br
  %br
  = f.submit
