
%table
  %tr
    %th ID
    %th Hospital Name
    %th Doctor Name
    %th Booking Doctor
    %th Booking List
  - @doctors.each do |doctor|
    %tr
      %td
        = doctor.id
      %td
        = doctor.hospital.name
      %td
        = doctor.name
      %td
        = link_to 'New Booking', booking_new_path(doctor_id: doctor.id)
      %td
        = link_to 'Booking List', booking_doctor_index_path(doctor_id: doctor.id)